@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");

header {
  margin: 0 auto;
  font-family: 'Assistant', sans-serif;
  font-weight: bold;
  position: fixed;
  top: 0;
  background: #00a1f8;
  width: 100%;
  height: 17vh;
  z-index: 2;
}

.header-content {
  position: absolute;
  bottom: 0;
  left: 10vw;
  display: grid;
  grid-template-columns: 12.75vw auto;
  grid-auto-rows: 10.5vh 4.5;
  align-items: end;
}

.ehr-logo {
  max-height: 15vh;
  max-width: 12.5vw;
  grid-column: 1;
  grid-row: 1 / 3;
}

.ehr-name {
  margin: 0;
  color: #FFFFFF;
  font-size: 3.61vw;
  line-height: 3.61vw;
  text-align: left;
  grid-column: 2;
  grid-row: 1;
}

.navi {
  height: 1.7vw;
  text-align: left;
  grid-column: 2;
  grid-row: 2;
  align-self: center;
}

.navLinks {
  padding-left: 0px;
  height: 1.7vw;
  margin: 0;
}

li {
  display: inline-block;
  height: 1.6vw;
  list-style: none;
}

.page-links a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.36vw;
  margin-right: 2.5vw;
}

.currentTab {
  color: #f8d000 !important;
}

.social-media-icons {
  max-height: 1.5vw;
  margin-right: .65vw;
}

.twitter {
  max-height: 1.7vw;
}

/* for really big screens */
@media screen and (max-height: 1366px) and (orientation: portrait) {
  header {
    height: 20vh;
  }

  .header-content {
    grid-template-columns: 12.75vw auto;
    grid-auto-rows: 17vh 3vh;
  }
  .ehr-logo {
    max-height: 17vh;
    max-width: auto;
    bottom: 0;
  }
}

/* for large screen tablets in portrait mode */
@media screen and (max-height: 1366px) and (orientation: portrait) {
  header {
    height: 9vh;
  }

  .header-content {
    grid-template-columns: 12.75vw auto;
    grid-auto-rows: 5.5vh 3.5vh;
  }
}

/* this is where i need to put in the hamburger, 
for mobile devices and tiny monitors*/
/* @media screen and (max-height: 899px) {
  header {
    height: 8vh;
  }

  .header-content {
    width: 100%;
    left: 0;
    top: .75vh;
    display: flex;
    justify-content: space-around;
    align-content: center;
  }

  .ehr-logo {
    max-height: 7.75vh;
    max-width: auto;
  }

  .ehr-name {
    font-size: 0;
    line-height: 0;
  } */
  /* .navi {
    height: 0;
    width: 0;
  }
  .navLink {
    height: 0;
    width: 0;
  } 
} */
