@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");

header {
  margin: 0 auto;
  font-family: 'Assistant', sans-serif;
  font-weight: bold;
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  background: #00a1f8;
  width: 100%;
  height: 15vh;
  z-index: 2;
}

.ehr-name {
  margin: 0;
  color: #FFFFFF;
  font-size: 52px;
  line-height: 52px;
  display: flex;
}

.navLinks {
  margin: 0 auto;
  padding-left: 0px;
  height: 25px;
}

li {
  display: inline-block;
  height: 23px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 19px;
  padding: .5vw;
}