.quick{
  color:#000000;
  font-size: 1.36vw;
  position: fixed;
}

.quick-links a{
  text-decoration: none;
  display: block;
  color: #c4c4c4;
}

.quick-links a:active{
  color:#00a1f8;
}

.mission a:visited{
  color:#00a1f8;
}

.clicked{
  color:#00a1f8 !important;
}