.quick{
  display:flex;
  flex-direction:row-reverse;
  flex: 0 0 260px;
  /* display:grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 20% 20% 20% 20% 20%; */

}

.quick-links{
  text-decoration:none;
  /* display:flex; */
  flex-direction:column;
  order:-1;
  display:inline-block;
}