@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");

.not-found-container {
  margin: 0 auto;
}

.not-found {
  font-family: 'Assistant', sans-serif;
  font-size: 52px;
  line-height: 52px;
}