@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");
.not-found-container {
  text-align: center;
}

.not-found {
  font-family: 'Assistant', sans-serif;
  font-size: 3.5vw;
  margin: 100px;
}