@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");


.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 57vw 15vw;
  grid-gap: 3vw;
  font-family: 'Assistant', sans-serif;
}
.quick-links {
  grid-column: 2;
  grid-row: 1;
}

.everything {
  grid-column: 1;
  grid-row: 1;
}

.mission-text {
  text-align: left;
}

#mission::before,
#impact::before,
#stories::before,
#leadship::before,
#locations::before { 
  display: block; 
  content: " "; 
  margin-top: -17vh; 
  height: 17vh; 
  visibility: hidden; 
  pointer-events: none;
}

.aboutus {
  text-align: center;
  font-size: 2.64vw;
}
h4 {
  font-size: 1.36vw;
}
p {
  font-size: 1.2vw;
}

