@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");
.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 62vw 15vw;
  grid-gap: 3vw;
  padding-top: 1vh;
  font-family: 'Assistant', sans-serif;
}

.quick-links {
  grid-column: 2;
  grid-row: 1;
}

.everything {
  grid-column: 1;
  grid-row: 1;
}

.mission-text {
  text-align: left;
}

#mission1::before, #impact1::before, #stories1::before, #leadship1::before, #locations::before {
  display: block;
  content: " ";
  margin-top: -17vh;
  height: 17vh;
  visibility: hidden;
  pointer-events: none;
}

.aboutus {
  text-align: center;
  font-size: 2.64vw;
}

h4 {
  font-size: 1.36vw;
}

p {
  font-size: 1.2vw;
}

/* @media screen and (max-height: 1366px) and (orientation: portrait) {
  #mission::before, #impact::before, #stories::before, #leadship::before, #locations::before {
  margin-top: -20vh;
  height: 20vh;
  }
}
@media screen and (max-height: 1366px) and (orientation: portrait) {
  #mission::before, #impact::before, #stories::before, #leadship::before, #locations::before {
  margin-top: -9vh;
  height: 9vh;
  }
} */

/* #impactScroll {
  position: absolute;
  top
} */