.locations-container{
  display: flex;
  font-size: 1.2vw;
  width: 62vw;
  align-items:space-between;
}
p{
  text-align:left;
}
.locations-name{
  color: #00a1f8;
  margin: 0 0;
}
.appt{
  color: #00a1f8;
}
.rockaway, .EHRKennels, .kearney, .roxbury {
  padding: 0 1vw 0 0;
  width: 15.5vw;
  flex-direction:column;
  flex-wrap:nowrap;
}
.left{
  margin: 0 auto;
  display:inline-block;
  width:100%;
  flex-direction:column;
  
}