.locations-container{
  display: flex;
  font-size: 1.2vw;
  width: 57vw;
}
p{
  text-align:left;
}
.locations-name{
  color: #00a1f8;
  margin: 0 0;
}
.appt{
  color: #00a1f8;
}
.rockaway, .EHRKennels, .kearney, .roxbury {
  margin: 0 7vw 0 0;
  width: 10vw;
  flex-direction:column;
  flex-wrap:nowrap;
}
.left{
  margin: 0 auto;
  display:inline-block;
  width:100%;
  flex-direction:column;
  
}