@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,400;1,600&display=swap');
.selector-container {
  height: 266.5px;
  width: 69.67vw;
}

.selector-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c4c4c4;
  height: 220.9px;
  border-top-right-radius: 5px;
  margin-bottom: 22.7px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn-grid {
  display: grid;
  margin-left: 33.1px;
  margin-right: 33.1px;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  width: 69.67vw;
}

.tab-one {
  width: 24.8vw;
  height: 45.6px;
  border: none;
  margin-right: 11px;
  background-color: #fff;
  border-top: #c4c4c4 1px solid;
  border-left: #c4c4c4 1px solid;
  border-right: #c4c4c4 1px solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 19px;
  font-family: "Asap", sans-serif;
  color: #00a1f8;
  outline: none;
}

.tab-one-clicked {
  width: 24.8vw;
  height: 45.6px;
  border: none;
  margin-right: 11px;
  background-color: #00a1f8;
  border-top: #c4c4c4 1px solid;
  border-left: #c4c4c4 1px solid;
  border-right: #c4c4c4 1px solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 19px;
  font-family: "Asap", sans-serif;
  color: #fff;
  outline: none;
}

.tab-two {
  width: 24.8vw;
  height: 45.6px;
  border: none;
  margin-right: 11px;
  background-color: #fff;
  border-top: #c4c4c4 1px solid;
  border-left: #c4c4c4 1px solid;
  border-right: #c4c4c4 1px solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 19px;
  font-family: "Asap", sans-serif;
  color: #00a1f8;
  outline: none;
}

.tab-two-clicked {
  width: 24.8vw;
  height: 45.6px;
  border: none;
  margin-right: 11px;
  background-color: #00a1f8;
  border-top: #c4c4c4 1px solid;
  border-left: #c4c4c4 1px solid;
  border-right: #c4c4c4 1px solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 19px;
  font-family: "Asap", sans-serif;
  color: #fff;
  outline: none;
}

.btns {
  height: 71.3px;
  width: 20.465vw;
  margin-left: 12.9px;
  margin-right: 12.9px;
  margin-top: 9.8px;
  margin-bottom: 9.8px;
  background-color: #fff;
  border: #c4c4c4 1px solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 23px;
  font-family: "Asap", sans-serif;
  color: #00a1f8;
  outline: none;
}

.btns-clicked {
  height: 71.3px;
  width: 20.465vw;
  margin-left: 12.9px;
  margin-right: 12.9px;
  margin-top: 9.8px;
  margin-bottom: 9.8px;
  background-color: #00a1f8;
  border: #c4c4c4 1px solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 23px;
  font-family: "Asap", sans-serif;
  color: #fff;
  outline: none;
}

.btns:hover {
  background-color: #00a1f8;
  color: #fff;
  border: #00a1f8 2px solid;
}

.other {
  height: 71.3px;
  width: 20.465vw;
  margin-left: 12.9px;
  margin-right: 12.9px;
  margin-top: 9.8px;
  margin-bottom: 9.8px;
  padding: 0;
  background-color: #fff;
  border: #c4c4c4 1px solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 21px;
  font-family: "Asap", sans-serif;
  color: #00a1f8;
  outline: none;
  text-align: center;
  box-sizing: border-box;
}

.other::placeholder {
  font-size: 21px;
  color: #00a1f8;
  text-align: center;
}

.other:focus::placeholder {
  color: transparent;
}

.other-blur {
  height: 71.3px;
  width: 20.465vw;
  margin-left: 12.9px;
  margin-right: 12.9px;
  margin-top: 9.8px;
  margin-bottom: 9.8px;
  padding: 0;
  background-color: #00a1f8;
  border: #c4c4c4 1px solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 21px;
  font-family: "Asap", sans-serif;
  color: #fff;
  outline: none;
  text-align: center;
  box-sizing: border-box;
}