@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;800&display=swap");
.donate-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.donate-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-img {
  width: 60%;
  height: 19%;
}

.header-title {
  font-size: 2.7vw;
  color: #000;
  font-family: "Assistant", sans-serif;
  font-weight: 800;
  margin: 8.6px 0 7.9px 0;
}

.now-span {
  color: #00a1f8;
}

.header-text {
  font-size: 1.1111111111111112VW;
  color: #000;
  font-family: "Assistant", sans-serif;
  font-weight: 400;
  width: 54%;
  margin: 0 0 64.6px 0;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .header-title {
    font-size: 4.1vw;
  }
  .header-text {
    font-size: 1.8VW;
    width: 70%;
  }
}