.leadership {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;

}

.leadership h3 {
  display: revert;
  color: #00a1f8;
  font-size: 1.12vw;
  font-weight: 200;
}

#leadershipCard img {
  grid-column-start: 1;
  width: 6.94vw;
  height: 6.94vw;
}

#leadershipCard h2, h3, p {
  grid-column-start: 2;
  padding-left: 0.56vw;
  display: block;
}

#leadershipCard {
  display: grid;
  justify-content: left;
  grid-template-columns: 6.94vw 19.1vw;
  grid-template-rows: 0;

}