.impact {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-row-gap: 1.8vw;
  grid-column-gap: 1.8vw;
  margin: 1.8vw;
}
.impactCard p, h2 {
font-size: 1.11vw;
text-align: center;
}

.impactCard h2 {
  color: #00a1f8;
}

.impactCard img {
  width: 11.81vw; 
  margin-bottom: 1vh;
}