@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap");


.home {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: .5fr .2fr 1fr;
  height: 100%;
  justify-content: center;
}

#homedogs {
  object-fit: cover;
  width: 100%;
  min-width: 424px;
  max-height: 691px;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: -1;

}

.welcome-message {
  font-family: 'Assistant';
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
  min-width: 324px;
  
}

.welcome-message h1, p {
  text-align: center;
}

.welcome-message h1 {
  margin: 0;
  color: #00a1f8;
  font-size: 2.5em;
  padding: 15px 0 5px 0;
  font-weight: 700;
}

.welcome-message p {
  margin: 0;
  padding: 0 35px;
  font-size: 1.2em;
}

.cards-container {
  margin: 40px 0;
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: -1;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.cards-container a {
  text-align: center;
  text-decoration: none;
  color: #00a1f8;
  font-weight: bold;
  font-size: .7em;
}

.cards-container a:hover {
  text-decoration: underline;
}