@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap");


.home {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: .5fr .2fr .5fr;
  height: 100%;
  justify-content: center;
  margin-bottom: 10vh;
}

#homedogs {
  object-fit: cover;
  width: 100%;
  max-width: 100vw;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: -1;

}

.welcome-message {
  margin-bottom: 1.5vh;
  font-family: 'Assistant';
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 3;
  
}

.welcome-message h1 {
  margin: 0;
  color: #00a1f8;
  font-size: 3.6vw;
  padding: 15px 0 5px 0;
  font-weight: 700;
}

.welcome-message p {
  margin: 0;
  text-align: center;
  padding: 2vh 5vw 4vh 5vw;
  font-size: 1.7vw;
}

.home-links {
display: flex;
}

.home-links a {
  color: #00a1f8;
  text-decoration: none;
}

.home-links h2 {
padding: 1.35vh;
margin: 0;
  font-size: 1.67vw;
}

.home-links a:hover {
  text-decoration: underline;
}

#homeCard {
  width: 16vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5vw;
}

#homeCard img {
  width: 100%;
}