.stories {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 0;
  grid-column-gap: 3.75vw;
}

.stories h2 {
  margin-top: 0.5vw;
  margin-bottom: 1vw;
}

.stories img {
  margin: 0 auto;
}

.stories a, p {
  text-decoration: none;
  color: black;
}

.stories a:hover {
  opacity: 0.5;
}

#story1 {
  width: 24.7vw;
  grid-column-start: 1;
  grid-row-end: 2;
}
#story2 {
  width: 22.2vw;
  grid-column-start: 2;
  height: 100%;
}